
GEMINI_API_KEY=
GOOGLE_GENERATIVE_API_URL=https://generativelanguage.googleapis.com/v1beta/models/
GEMINI_API_MODEL=gemma-4-31b-it  
#GEMINI_API_MODEL=gemma-4-26b-a4b-it

OPENROUTER_KEY=chave_aqui
#OPENROUTER_IMAGE_MODEL=openai/gpt-image-2
OPENROUTER_IMAGE_MODEL=qwen/qwen-image-3
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
